# ----------------------------------------------------------------------
# Disable directory browsing
# ----------------------------------------------------------------------
Options -Indexes

# ----------------------------------------------------------------------
# Prevent access to hidden files and directories
# ----------------------------------------------------------------------
<FilesMatch "^\.">
    Require all denied
</FilesMatch>
