<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="false" />
        <httpErrors errorMode="DetailedLocalOnly" />
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="52428800" />
                <hiddenSegments>
                    <add segment=".git" />
                    <add segment="vendor" />
                </hiddenSegments>
                <fileExtensions>
                    <add fileExtension=".sql" allowed="false" />
                    <add fileExtension=".log" allowed="false" />
                    <add fileExtension=".env" allowed="false" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>